@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
html, body {
  scroll-behavior: smooth;
}

.section-pad {
  @apply py-20 lg:py-28;
}

.gradient-text {
  @apply bg-gradient-to-r from-brand-400 to-brand-600 bg-clip-text text-transparent;
}